{% extends "base.html" %}
{% load static %}
{% block title_cont %}Об авторе проекта{% endblock %}
{% block main_cont %}
<h2>
  Привет! Меня зовут Марк Мазуров.<br>
  И я автор проекта Yatube.
</h2>
<p>
  Программирование для меня - новый мир. Шаг за шагом я учусь создавать все более сложные и интересные проекты.<br>
  Один из таких - <b>Yatube</b> - платформа, где каждый желающий может создать блог и делиться с миром своим опытом и мыслями.<br>
  <br>
  Немного расскажу о себе. Я учился в физико-математическом лицее и впервые столкнулся с программированием именно там. В то время<br>
  нас учили программировать с помощью <i>Pascal</i>, так что циклы и ветвления в процессе обучения в Практикуме улеглись в голове<br>
  хорошо. После школы жизнь увела меня далеко от программирования... Сейчас на дворе декабрь 2021 года, и последние 8 лет я<br>
  помогаю людям улучшать их физическую форму и повышать качество жизни. Моя профессия - тренер по физической подготовке.<br>
  <br>
  Но школьная мечта никуда не делась. И маленькими шагами я иду к тому, чтобы стать настоящим разработчиком!<br>
  <br>
  <b>Что меня вдохновляет на этом пути?</b><br>
  <br>
  Мои собственные тренировки в зале дают необходимую энергию для учебы, а также помогают выплеснуть накопившийся стресс. Ведь порой<br>
  учеба дается не так уж и легко :). Помимо этого я активно изучаю экономику и текущие движения в мире финансов. Никогда не думал, что<br>
  цифры и графики могут быть такими увлекательными. Во время учебы в школе и университете я почему-то ими не слишком проникся...<br>
  <br>
  В работе и учебе, непосредственно в создании этого проекта, меня активно поддерживает моя семья - любимая жена, верный пёс и непоседа кот.<br>
  <br>
  <img src="{% static 'about/author.jpg' %}" width="700" height="500" class="d-inline-block align-top" alt="">
  <br>
  <i>На фото я, уверенно смотрящий в светлое будущее!</i><br>
  <br>
  Подробнее познакомиться с моими проектами вы можете на 
  <a href="https://github.com/MarkMazurov" target="_blank">GitHub (кликни ссылочку!)</a><br>
  А узнать обо мне больше можно через страничку в 
  <a href="https://www.instagram.com/markmazurov_coach/" target="_blank">Instagram (и тут тоже можно кликнуть ссылку)</a><br>
  <br>
  <h4>Удачи вам на просторах Yatube!</h4><br>
</p>
{% endblock %}
