{% extends "base.html" %}
{% block title_cont %}Технологии{% endblock %}
{% block main_cont %}
<div class="row">
  <h4>Проект <b>Yatube</b> создан на базе:</h4>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <i>Python</i>
      </li>
      <li class="list-group-item">
        <i>Django</i>
      </li>
      <li class="list-group-item">
        <i>HTML</i>
      </li>
      <li class="list-group-item">
        <i>CSS</i>
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Друзья, надеюсь, что написание постов на базе <b>Yatube</b> доставляет вам удовольствие.<br>
      Ведь в этот проект было вложено очень много сил, времени и нервов разработчика (меня).<br>
      <br>
      Для меня это первый большой проект. Скажу максимально честно - мне безумно понравилось работать на базе Django!<br>
      Не думал, что процесс создания подобного проекта может быть настолько захватывающим! Да, временами было трудно. Даже очень.<br>
      Но на помощь всегда приходила настойчивость. А когда ее не хватало - выручали сокурсники и наставники :) <br>
      <br>
      Слабым местом пока остается тема декораторов и корректировка шаблонов. Не всегда удается быстро найти оптимальное решение.<br>
      Но ведь все только начинается! А значит и эти пробелы заполнятся по мере обучения и практики.<br>
    </p>
  </article>
</div>
{% endblock %}
