{% extends "base.html" %}
{% block title_cont %}
  {% if form.instance.id %}
    Редактировать пост
  {% else %}
    Новый пост
  {% endif %}
{% endblock %}
{% block main_cont %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          {% if form.instance.id %} 
            Редактировать пост
          {% else %}    
            Новый пост
          {% endif %}             
        </div>
        <div class="card-body">
          {% include 'includes/form_errors.html' %}

          <form method="post" enctype="multipart/form-data"
            {% if action_url %}
              {% if form.instance.id %}
                action="{% url 'posts:post_edit' %}"
              {% else %}
                action="{% url 'posts:post_create' %}"
              {% endif %}
            {% endif %}
          >
          {% csrf_token %}
          
          {% include 'includes/form_fields.html' %}

          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">
              {% if form.instance.id %}
                Сохранить
              {% else %}
                Добавить
              {% endif %}
            </button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
